<div class="container">
  <h1>all users in system</h1>
  <div class="add-user">
    <button type="button" class="btn btn-success" (click)="isOpenPopup = true">
      Add User
    </button>
  </div>

  <ng-container *ngIf="isShowData; else nodata">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- <ng-container matColumnDef="index">
           <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{element|json}}</td>
        </ng-container> -->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>phone</th>
          <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
        </ng-container>

        <ng-container matColumnDef="national_id">
          <th mat-header-cell *matHeaderCellDef>national_id</th>
          <td mat-cell *matCellDef="let element">{{ element.national_id }}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="edit(element)">
              Edit
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </ng-container>

  <ng-template #nodata>
    <div style="text-align: center" class="alert alert-danger">
      No data To Show
    </div>
  </ng-template>
</div>

<div
  class="popup"
  (click)="isOpenPopup = false"
  *ngIf="isOpenPopup"
  @popupParent
>
  <div class="overlay">

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <!-- <button mat-raised-button color="primary" @popupChild>Edit</button> -->
  </div>
</div>

<!-- id: 2, name: 'admin', email: 'Admin@ebaa.com', phone: '01064335311',
national_id: '123456789013' -->
<!-- clinic_id -->
