<div class="popup" @popupParent *ngIf="showData">
  <div class="overlay">
    <!-- <h1>{{ message }}</h1> -->

    <form class="example-form">
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        @popupChildLeft
      >
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [value]="name" />
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        appearance="outline"
        @popupChildRight
      >
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" [value]="phone" />
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        appearance="outline"
        @popupChildLeft
      >
        <mat-label>National_id</mat-label>
        <input matInput placeholder="National_id" [value]="national_id" />
      </mat-form-field>
    </form>
  </div>
</div>
