<div class="container">
  <ng-container *ngIf="isShowData; else nodata">
    <div class="over">
      <div class="add-user">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="openPopup()"
        >
          <i class="add-icon fa-solid fa-plus"></i>
          Add Item
        </button>
      </div>
      <div class="table-border">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">NO</th>
              <th scope="col">Title</th>
              <th scope="col">Type</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Delete</th>
              <th scope="col">Update</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of allItems; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.title }}</td>
              <td>{{ item.type }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price | notFoundPipe }}</td>
              <td>
                <div (click)="deleteStore(item)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                    width="35"
                    height="35"
                  >
                    <path
                      d="M24.2,12.193,23.8,24.3a3.988,3.988,0,0,1-4,3.857H12.2a3.988,3.988,0,0,1-4-3.853L7.8,12.193a1,1,0,0,1,2-.066l.4,12.11a2,2,0,0,0,2,1.923h7.6a2,2,0,0,0,2-1.927l.4-12.106a1,1,0,0,1,2,.066Zm1.323-4.029a1,1,0,0,1-1,1H7.478a1,1,0,0,1,0-2h3.1a1.276,1.276,0,0,0,1.273-1.148,2.991,2.991,0,0,1,2.984-2.694h2.33a2.991,2.991,0,0,1,2.984,2.694,1.276,1.276,0,0,0,1.273,1.148h3.1A1,1,0,0,1,25.522,8.164Zm-11.936-1h4.828a3.3,3.3,0,0,1-.255-.944,1,1,0,0,0-.994-.9h-2.33a1,1,0,0,0-.994.9A3.3,3.3,0,0,1,13.586,7.164Zm1.007,15.151V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Zm4.814,0V13.8a1,1,0,0,0-2,0v8.519a1,1,0,0,0,2,0Z"
                      fill="#488c9d"
                      class="color000 svgShape"
                    ></path>
                  </svg>
                </div>
              </td>
              <td>
                <div (click)="editPopup(item)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="25"
                    height="25"
                  >
                    <path
                      d="M18.2 24H3.8C1.7 24 0 22.3 0 20.2V5.8C0 3.7 1.7 2 3.8 2H11c.6 0 1 .4 1 1s-.4 1-1 1H3.8C2.8 4 2 4.8 2 5.8v14.3c0 1 .8 1.8 1.8 1.8h14.3c1 0 1.8-.8 1.8-1.8V13c0-.6.4-1 1-1s1 .4 1 1v7.2c.1 2.1-1.6 3.8-3.7 3.8z"
                      fill="#488c9d"
                      class="color000 svgShape"
                    ></path>
                    <path
                      d="M6 19c-.3 0-.5-.1-.7-.3-.2-.2-.3-.6-.3-.9l1-5c0-.2.1-.4.3-.5l12-12c.4-.4 1-.4 1.4 0l4 4c.4.4.4 1 0 1.4l-12 12c-.1.1-.3.2-.5.3l-5 1H6zm1.9-5.5l-.6 3.2 3.2-.6L21.6 5 19 2.4 7.9 13.5z"
                      fill="#488c9d"
                      class="color000 svgShape"
                    ></path>
                  </svg>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>

  <ng-template #nodata>
    <div
      style="text-align: center; margin-top: 20px"
      class="alert alert-danger"
    >
      No data To Show
    </div>
  </ng-template>
</div>

<div class="popup" *ngIf="isOpenPopup" @popupParent>
  <div class="overlay">
    <div class="head">
      <h3>
        <i class="fa-solid fa-plus"></i>
        <span>{{ message }}</span>
      </h3>
      <div class="close" (click)="isOpenPopup = false">
        <i class="fa-solid fa-x close-icon"></i>
      </div>
    </div>
    <form class="example-form" [formGroup]="itemForm">
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        @popupChildLeft
      >
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
        <mat-icon
          class="icon-color"
          matSuffix
          style="color: red"
          *ngIf="title?.invalid && title?.dirty"
          >sentiment_very_dissatisfied</mat-icon
        >

        <mat-icon class="icon-color" matSuffix *ngIf="title?.valid"
          >sentiment_very_satisfied</mat-icon
        >
        <mat-error *ngIf="title?.invalid && title?.touched && title?.dirty">
          this fild is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        appearance="outline"
        @popupChildRight
      >
        <mat-label>Type</mat-label>
        <input matInput placeholder="Type" formControlName="type" />
        <mat-icon
          class="icon-color"
          matSuffix
          style="color: red"
          *ngIf="type?.invalid && type?.dirty"
          >sentiment_very_dissatisfied</mat-icon
        >

        <mat-icon class="icon-color" matSuffix *ngIf="type?.valid"
          >sentiment_very_satisfied</mat-icon
        >
        <mat-error *ngIf="type?.invalid && type?.touched && type?.dirty">
          this fild is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        appearance="outline"
        @popupChildLeft
      >
        <mat-label>Quantity</mat-label>
        <input matInput placeholder="Quantity" formControlName="quantity" />
        <mat-icon
          class="icon-color"
          matSuffix
          style="color: red"
          *ngIf="quantity?.invalid && quantity?.dirty"
          >sentiment_very_dissatisfied</mat-icon
        >

        <mat-icon class="icon-color" matSuffix *ngIf="quantity?.valid"
          >sentiment_very_satisfied</mat-icon
        >
        <mat-error
          *ngIf="quantity?.invalid && quantity?.touched && quantity?.dirty"
        >
          this fild is Required
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="example-full-width"
        appearance="outline"
        @popupChildLeft
      >
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="price" />

        <mat-icon class="icon-color" matSuffix
          >sentiment_very_satisfied</mat-icon
        >
      </mat-form-field>
    </form>

    <div class="buttons">
      <div>
        <button
          *ngIf="AddCheck; else edit"
          type="button"
          mat-raised-button
          color="primary"
          [disabled]="itemForm.status == 'INVALID'"
          (click)="addItem()"
        >
          Add
        </button>
        <ng-template #edit>
          <button mat-raised-button color="primary" (click)="editItem()">
            Update
          </button>
        </ng-template>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="isOpenPopup = false"
        >
          Cancel
        </button>
      </div>
      <div class="error">
        {{
          itemForm.status == "VALID" ? "data is Right" : "all Filed is Required"
        }}
      </div>
    </div>
  </div>
</div>

<div class="success">
  <ng-container *ngIf="success == 'edit'">
    <div class="alert alert-success" @translate>
      the Data updated successfully
    </div>
  </ng-container>

  <ng-container *ngIf="success == 'add'">
    <div class="alert alert-success" @translate>
      the Data added successfully
    </div>

  </ng-container>
  <ng-container *ngIf="success == 'Delete'">
    <div class="alert alert-success" @translate>
      the Data Delete successfully
    </div>
  </ng-container>

  <ng-container *ngIf="wrong == 'errorEdit'">
    <div class="alert alert-danger" @translate>the Data updated wrong</div>
  </ng-container>

  <ng-container *ngIf="wrong == 'errorAdd'">
    <div class="alert alert-danger" @translate>the Data Add wrong</div>
  </ng-container>

  <ng-container *ngIf="wrong == 'errorDelete'">
    <div class="alert alert-danger" @translate>the Data Delete wrong</div>
  </ng-container>
</div>
