/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  --main-color: #488c9d;
  --second-color: #f6f7fb;
  --overlay1-color: #53c3a4;
  --overlay2-color: #6dcfb2;
  --overlay3-color: #7fccb3;
  --hover-color: #c5e5d8;
  --border: 8px;
  --height: 50px;
  --gray-color: #f5f5f5;
  --error-color: #188c9d;
}

body {
  margin: 0;
  background-color: var(--second-color);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-color);
  border-radius: var(--border);
  -webkit-border-radius: var(--border);
  -moz-border-radius: var(--border);
  -ms-border-radius: var(--border);
  -o-border-radius: var(--border);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: var(--border);
  -webkit-border-radius: var(--border);
  -moz-border-radius: var(--border);
  -ms-border-radius: var(--border);
  -o-border-radius: var(--border);
}
