/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  --main-color: #4c489d;
  --overlay1-color: #5d54a4;
  --overlay2-color: #6a679e;
  --overlay3-color: #7c78b8;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
